<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="styles/flatly.css">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    
    <!-- endbuild -->

    <link rel="stylesheet" href="styles/main_style.css">
    <script src="cordova.js"></script>
  </head>
  <body ng-app="boilerplateMarketcloudAngularApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header" ng-controller="NavbarCtrl">
    <div class="navbar navbar-default" id="sub-navbar" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

          
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li><a href="#/">This category</a></li>
              <li><a ng-href="#/sales">That category</a></li>
              <li><a ng-href="#/sales">That category</a></li>
              <li><a ng-href="#/sales">That category</a></li>
              <li><a ng-href="#/sales">That category</a></li>
     

            </ul>
            <ul class="nav navbar-nav pull-right">
              <li><a href="#/login">Login</a></li>
              <li><a href="#/signup">Signup</a></li>
            </ul>
            
          </div>
        </div>
    </div>
    <div class="navbar navbar-default" id="mobile-header">
      <div class="container-fluid" style="height:60px;">
          <div class="row" style="height:60px;">
            <a id="toggle-sidebar" style="display:block;font-size:20px;padding:20px;width:60px;float:left;" ng-click="toggleMobileSidebar()"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
            <h4 style="display:block;padding:15px;float:left;">Your Logo Here.</h4>
            <a id="toggle-cart-sidebar" style="display:block;font-size:20px;padding:20px;width:60px;float:left;" href="#/cart"><span class="glyphicon glyphicon-shopping-cart"></span></a>
          </div>
      </div>
    
    </div>
    <div class="navbar navbar-default" id="top-navbar" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

          
          </div>

          <div class="collapse navbar-collapse" id="top-navbar-collapse">

            <ul class="nav navbar-nav">
              <li><a href="#/">Home</a></li>
              <li><a ng-href="#/sales">sales</a></li>
              <li><a ng-href="#/about">about</a></li>
              <li><a ng-href="#/">Contact</a></li>

            </ul>
            <ul class="nav navbar-nav pull-right">
              <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-size:24px;"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> {{itemsInCart}}</a>
              <ul class="dropdown-menu">
                <li ng-repeat="product in cart.items"><a href="#">{{product.name}}</a></li>
                <li class="divider"></li>
                <li><a href="#/cart">View all</a></li>
              </ul>
            </li>
            </ul>

          </div>
        </div>
    </div>
 
    </div>
    <aside id="side-nav">
      <div class="side-nav-header">
        <a class="side-nav-entry" href="#/login"><span class="glyphicon glyphicon-lock"></span> Signin</a>
        <a class="side-nav-entry" href="#/signup"><span class="glyphicon glyphicon-user"></span> Create account</a>
      </div>
      <a class="side-nav-entry" href="#/"><span class="glyphicon glyphicon-home"></span> Home</a>
      <a class="side-nav-entry" href="#/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a>
      
    </aside>

    <div class="container" id="page-wrapper">
    <div ng-view=""></div>
    </div>


    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-4">
            <h3>Your Logo Here.</h3>
          </div>
          <div class="col-xs-4"></div>
          <div class="col-xs-4"></div>
        </div>
      </div>
    </footer>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/angular-cookies/angular-cookies.js"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="lib/angular-touch/angular-touch.js"></script>
    <script src="lib/jquery-touchswipe/jquery.touchSwipe.js"></script>
    <script src="lib/marketcloud-js/dist/marketcloud.min.js"></script>
    <script src="lib/jquery-ui/jquery-ui.js"></script>
    <script src="lib/angular-payments/lib/angular-payments.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/product.js"></script>
        <script src="scripts/services/marketcloud.js"></script>
        <script src="scripts/controllers/navbar.js"></script>
        <script src="scripts/controllers/cart.js"></script>
        <script src="scripts/controllers/checkout.js"></script>
        <script src="scripts/controllers/signup.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <!-- endbuild -->
    
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">
    Stripe.setPublishableKey('pk_test_i9MotUXUk01yjzer6yYTZuXM');
  </script>
</body>
</html>
