<div class="container">
  <div class="row">
    <div class="col-xs-12"><img src="/images/feature_desktop.jpg" style="max-width:100%" /></div>
  </div>
</div>

<div class="container" style="margin-top:50px;">

  <div class="row" ng-show="products.length === 0">
    <div style="text-align:center;font-size:32px;"><span class="glyphicon glyphicon-refresh"></span> Loading</div>
  </div>

  <div class="row" ng-hide="products.length === 0">

  <p>Showing {{products.length}} products.</p>

  <div class="col-lg-4" ng-repeat="product in products">
    <a class="item" href="#/product/{{product.id}}">
      
      <img src="{{product.image}}"/>
      <div class="info">$ {{product.price}}</div>
    </a>
  </div>

  

  </div>
  
</div>