<!-- !!!! IL CONTROLLER è mainCtrl.js !!!!-->
<div class="container-fluid">
  <div class="row">
    <h3 class="product-title" style="margin-left:17px;">{{actualProduct.name}}</h3>
  </div>
  <div class="row">
    <div class="col-lg-7" style="margin-bottom:20px;">
      <img ng-if="actualProduct.images[0] != undefined" class ="imgNoPreview" src="{{actualProduct.images[0]}}" alt="Image not found" />
      <img ng-if="actualProduct.images[0] == undefined" class ="imgNoPreview" src="images/uTried.jpg" alt="Image not found"  />
    </div>
    <div class="col-lg-5">

      <div class="product-options">
        <span class="price">Prezzo: {{actualProduct.price | currency}}</span>

        <div class="form-group">
          <label>Format</label>
          <select class="form-control" disabled>
            <option value="1">Digital</option>
            <option value="1">Paper</option>
          </select>
        </div>
        <div class="input-append pull-right">
          <!-- use type=tel instead of  to prevent spinners -->
          <input
            class="span3 text-center" type="tel"
            ng-model="actualQuantity"
            ng-change="" readonly disabled />
          <button
            class="btn btn-success" type="button"
            ng-disabled="actualQuantity >= actualProduct.stock_level"
            ng-model="firstName"
            ng-click="(actualQuantity = actualQuantity+1);">+
          </button>
          <button
            class="btn btn-inverse" type="button"
            ng-disabled="actualQuantity <= 1"
            ng-click="(actualQuantity = actualQuantity-1);">-
          </button>
        </div><br><br>
        <button class="btn btn-success  btn-block" ng-click="addToCart(actualProduct, actualQuantity)">Add to cart</button>
      </div>

    </div>
    <div class="col-xs-12" style="margin-top:20px;">
      <div class="product-description">
        <h4>Product description</h4>
        <p>{{actualProduct.description}}</p>
      </div>
    </div>
  </div>
</div>
