<!-- !!!! IL CONTROLLER è mainCtrl.js !!!!-->
<div class="container-fluid">
  <div class="row">
    <h3 class="product-title" style="margin-left:17px;">{{actualProduct.name}}</h3>
  </div>
  <div class="row">
    <div class="col-lg-7" style="margin-bottom:20px;">
      <img ng-if="actualProduct.images[0] != undefined" class ="imgNoPreview" ng-src="{{actualProduct.images[0]}}" alt="Image not found" />
      <img ng-if="actualProduct.images[0] == undefined" class ="imgNoPreview" ng-src="images/uTried.jpg" alt="Image not found"  />
    </div>
    <div class="col-lg-5">

      <div class="product-options">
        <span class="price">Prezzo: {{actualProduct.price | currency}}</span>

        <div class="form-group" ng-repeat="(v_name,v_values) in actualProduct.variantsDefinition">
          <label>
            {{v_name}}
          </label>
          <!--<select ng-model="selectedOptions[v_name]" ng-options="item as item for item in v_values" ng-click="printSelectedOptions()"> -->
          <select ng-model="selectedOptions[v_name]" ng-options="item for item in v_values" ng-click="printSelectedOptions()">
          </select>
        </div> <!--STOP-->
        <div ng-show = "actualProduct.has_variants">
          Variante Selezionata = {{variantId}} <br>
        </div>

        <div class="input-append pull-right">
          <input
            class="span3 text-center" type="tel"
            ng-model="actualQuantity"
            ng-change="" readonly disabled />
          <button
            class="btn btn-success" type="button"
            ng-disabled="!isAvailable(actualProduct.stock_type, actualProduct.stock_level, actualProduct.stock_status, actualQuantity)"
            ng-click="(actualQuantity = actualQuantity+1);">+
          </button>
          <button
            class="btn btn-inverse" type="button"
            ng-disabled="actualQuantity <= 1"
            ng-click="(actualQuantity = actualQuantity-1);">-
          </button>
        </div><br><br>
        <button class="btn btn-success  btn-block"
                ng-show="isAvailable(actualProduct.stock_type, actualProduct.stock_level, actualProduct.stock_status, 1)"
                ng-disabled="!checkVariantsSelected()"
                ng-click="addToCart(actualProduct, actualQuantity)">Add to cart
        </button><br>
        <div class="warning" ng-show="!isAvailable(actualProduct.stock_type, actualProduct.stock_level, actualProduct.stock_status, 1)"> PRODOTTO NON DISPONIBILE </div>
        <br><button class="btn btn-danger  btn-block"
                ng-click="modalDismiss()">Close
        </button><br>

      </div>
    </div>
    <div class="col-xs-12" style="margin-top:20px;">
      <div class="product-description">
        <h4>Product description</h4>
        <p>{{actualProduct.description | htmlToPlaintext}}</p>
      </div>
    </div>
  </div>
</div>
