<form class="login-form" ng-submit="login()">
  <div align="center"><h2>Form Login</h2></div>

  <!-- native fb sdk button
  <div align="center">
  <div class="fb-login-button"data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false"></div>
  </div><br>-->

  <p><a class="btn btn-outlined btn-block btn-primary" ng-click="facebookLogin()">Facebook Login</a></p>


  <label for="inputEmail" class="sr-only">Email</label>
  <input type="text" id="inputEmail" class="form-control" placeholder="Username" ng-model="email" required autofocus>
  <br>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required  ng-model="password">
  <br>
  <div ng-show="error" class="alert alert-danger" role="alert">Login failed!</div>
  <input type="submit" value="Submit" class="btn btn-lg btn-primary btn-block" type="submit"> </input>
</form>
