<div class="row">

  <div class="col-md-3">
    <p class="lead">{{shopName}}</p>
    <div class="list-group" ng-repeat="cat in categories">
      <a href="#/" onselectstart="return false" ng-class="{active: isActive(cat.id)}" ng-click="filter(cat.id)" class="list-group-item"><span class="badge">{{countProductsByCategoryId(cat.id)}}</span>{{cat.name}}</a>
    </div>
  </div>

  <div class="col-md-9">

        <div class="row carousel-holder">

          <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            </div>
          </div>

        </div>

    <div class="row">
      <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="product in productsToShow">
        <div class="thumbnail">

          <img ng-if="product.images.length == 0" class ="imgPreview img-thumbnail" ng-src="images/uTried.jpg" alt="Image not found" ng-click="toConsole(product)" />
          <img ng-if="product.images.length != 0" class ="imgPreview img-thumbnail" ng-src="{{product.images[0]}}" alt="Image not found" ng-click="toConsole(product)" />


<div class="caption">
         <div style="max-width:100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis"><p><b>Name:</b> {{product.name}}</p></div>
         <p><b>Price:</b> {{product.price}}</p>
         <p><b>Field1:</b> {{product.editor}}</p>
         <b>Field2:</b> {{product.genre}}</p>
         <b>Field3:</b> {{product.pages}}</p>
            <div class="buttons">
            <button type="button" ng-click="clickToOpen(product);" class="btn btn-default" style="float: left;">
              <span class="glyphicon glyphicon-search" aria-hidden="true"  ></span>
            </button>

            <button type="button"
                    ng-click="addToCart(product)"
                    class="btn btn-default"
                    ng-disabled="!isAvailable(product.stock_type, product.stock_level, product.stock_status, 1, product)"
                    style="float: right;">
              <span  class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            </button>

            </div>
            <br>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
